Footer
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-sm-12">
                <a class="navbar-brand" href="#">
                    <img src="../../../assets/img/logo.png" alt="">
                    <div class="brand">
                        <h1>Guide</h1>
                        <span>Colorado dispensary</span>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-sm-12">
                <h2>Our Contacts</h2>
                <div class="contact-div">
                    <i class="fa fa-map-marker"></i><span>123 Abshire Circle, Colorado</span>
                </div>
                <div class="contact-div">
                    <i class="fa fa-pencil"></i><span>marijuana@example.com</span>
                </div>
                <div class="contact-div">
                    <i class="fa fa-internet-explorer "></i><span>www.example.com</span>
                </div>
                <div class="contact-div">
                    <i class="fa fa-phone"></i><span> 0 (800) 846 4235 (operator)</span>
                </div>
                <div class="contact-div">
                    <i class="fa fa-clock-o"></i><span>Working Hours: 24/7</span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-12 recent-post">
                <h2>Recent Posts</h2>
                <div class="post">
                    <img src="../../../assets/img/recent_post1.jpg" alt="">
                    <div class="post-content">
                        <a class="link" href="#">Rump groud round shan bacon chop.</a>
                        <span>11 JAN, 2018</span>
                    </div>
                </div>
                <div class="post">
                    <img src="../../../assets/img/recent_post2.jpg" alt="">
                    <div class="post-content">
                        <a class="link" href="#">Bresaola jerky short ribs pastrami shank.</a>
                        <span>23 JAN, 2018</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-12">
                <img src="../../../assets/img/banner.png" alt="">
            </div>
        </div>
    </div>
</div>
<!--Copy right-->
<div class="copy-right">
    <div class="container">
        <div class="row">
            <p>© Copyright 2018. All Rights Reserved.</p>
            <div class="social-links">
                <a href="#" class="link"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="link"><i class="fab fa-twitter"></i></a>
                <a href="#" class="link"><i class="fab fa-google"></i></a>
            </div>
        </div>
    </div>
</div>