@import "../../styles.scss";

h1 {
    margin: 0px;
}

.mainPhoto {
    background-image: url("../../assets/img/slide03.jpg");
    min-height: 90vh;
    background-size: 100% 100%;
    object-fit: contain;
    background-repeat: none;
}

//absolute-div
.absolute-div {
    .container {
        .row {
            .col-xl-3 {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                top: -100px;
                @media only screen and (max-width: 992px) {
                    top: initial;
                }
                &:first-child {
                    top: -150px;
                    @media only screen and (max-width: 992px) {
                        top: 0px;
                    }
                    .circle-div {
                        background-color: $green-color-one;
                    }
                    .description {
                        background-color: $green-color-one;
                    }
                }
                &:nth-child(2) {
                    .circle-div {
                        background-color: $green-color-two;
                    }
                    .description {
                        background-color: $green-color-two;
                    }
                }
                &:nth-child(3) {
                    .circle-div {
                        background-color: $green-color-three;
                    }
                    .description {
                        background-color: $green-color-three;
                    }
                }
                &:last-child {
                    top: -150px;
                    @media only screen and (max-width: 992px) {
                        top: 0px;
                    }
                }
                .circle-div {
                    background-color: $green-color-four;
                    border-radius: 50%;
                    box-sizing: border-box;
                    height: 80px;
                    width: 80px;
                    position: relative;
                    padding: 20px 25px;
                    top: 30px;
                    z-index: 120;
                    i {
                        color: white;
                        text-align: center;
                        font-size: 30px;
                        // position: absolute;
                        // right: 20px;
                        // top:20px;
                    }
                }
                .description {
                    box-sizing: border-box;
                    border-radius: 10px;
                    padding: 35px;
                    background-color: $green-color-four;
                    color: white;
                    text-align: center;
                    @media only screen and (max-width: 992px) {
                        padding: 25px;
                    }
                    h2 {
                        font-size: 24px;
                        font-weight: 700;
                        height: auto;
                        line-height: 28.8px;
                        color: white;
                    }
                    p {
                        font-size: 16px;
                        font-weight: 400;
                        height: 90px;
                        line-height: 30px;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}
//history-about
.history-about {
    padding: 100px 0px;
    .container {
        .row {
            .col-xl-3 {
                h3 {
                    font-size: 14px;
                    color: $green-color-four;
                }
                h4 {
                    color: rgb(31, 35, 43);
                    font-size: 30px;
                    font-weight: 600px;
                }
                h5 {
                    color: rgb(31, 35, 43);
                    font-size: 40px;
                    font-weight: 600px;
                    @media only screen and (max-width: 992px) {
                        font-size: 32px;
                    }
                }
                h2 {
                    font-size: 12px;
                    color: $green-color-four;
                }
                img {
                    height: 70px;
                    width: 70px !important;
                    border-radius: 5px;
                    &::after {
                        content: "8888";
                        box-sizing: border-box;
                        color: rgb(120, 191, 77);
                        z-index: 1000;
                        font-size: 32px;
                    }
                }
            }
            .col-xl-6 {
                @media only screen and (max-width: 992px) {
                    margin-bottom: 100px;
                }
                h3 {
                    color: rgb(31, 35, 43);
                    font-size: 16px;
                    font-weight: 700;
                    height: 52px;
                    line-height: 26px;
                }
                p {
                    color: rgb(128, 128, 128);
                    font-size: 16px;
                    font-weight: 400;
                    height: 104px;
                    line-height: 26px;
                    @media only screen and (max-width: 992px) {
                        margin: 50px 0px;
                    }
                }
            }
        }
    }
}

//subscribe
.subscribe {
    background-image: url(http://webdesign-finder.com/html/canabia/img/parallax/subscribe.jpg);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    color: white;
    .overlay {
        background-color: rgba(84, 190, 115, 0.8);
        padding: 75px 0px;
        .row {
            .subscribe-row {
                align-items: center;
                .btn {
                    background-color: white;
                    color: $green-color-two;
                    padding: 10px 10px;
                    font-size: 14px;
                    border-radius: 10px;
                    height: 50px;
                    font-weight: 700;
                }
                input {
                    height: 50px;
                    width: 269px;
                    padding: 10px 10px;
                    border: 1px solid white;
                    box-sizing: border-box;
                    border-radius: 10px;
                    background-color: transparent;
                    @media only screen and (max-width: 992px) {
                        margin-bottom: 20px;
                    }
                    &::placeholder {
                        color: white;
                        font-size: 14px;
                    }
                }
                h6 {
                    font-size: 14px;
                }
                h2 {
                    font-size: 39px;
                    letter-spacing: -2px;
                    line-height: 39px;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
}
//OUR PRODUCT
.card {
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    background-color: #dddddd;
}
.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.3);
}
.card-title:hover {
    color: $green-color-three;
}
.checked {
    color: green;
}
.bottom-right {
    position: absolute;
    top: 25%;
    right: 11px;
    a {
        padding: 8px !important;
    }
    @media only screen and (max-width: 992px) {
        top: 45% !important;
    }
}
.portrait {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.zoom {
    border-radius: 10px 10px 0px 0px;
    transition: transform 1s linear;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.zoom:hover {
    transform: scale(1.2);
}
