<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>

<!--Carousel-Slider-->

<main>
  <div class="align-items-center justify-content-center mainPhoto">
    <div class="container text-center text-white">
      <p>OUR FACTORY IN COLORADO IS PRODUCING</p>
      <h5>Recreational & Medical Marijuana...</h5>
    </div>
  </div>
  <!--Absolute-div-->
  <div class="absolute-div">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-xs-12 mt-xs-5">
          <div class="circle-div">
            <i class="fa fa-globe"></i>
          </div>
          <div class="description">
            <h2>Green House</h2>
            <p>«Our Guide is greenhouse grown with love.»</p>
          </div>
        </div>
        <div class="col-xl-3 col-xs-12 mt-xs-5">
          <div class="circle-div">
            <i class="fa fa-plug"></i>
          </div>
          <div class="description">
            <h2>Green House</h2>
            <p>«Our Guide is greenhouse grown with love.»</p>
          </div>
        </div>
        <div class="col-xl-3 col-xs-12 mt-xs-5">
          <div class="circle-div">
            <i class="fa fa-leaf"></i>
          </div>
          <div class="description">
            <h2>Sustainable</h2>
            <p>«Low carbon footprint,-Thats why we buy local, reuse.»</p>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="circle-div">
            <i class="fa fa-users"></i>
          </div>
          <div class="description">
            <h2>Connoisseurs</h2>
            <p>«We are a big family of perfect Guide connoisseurs.»</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="history-about">
    <div class="container">
      <div class="row">
        <div class="col-xl-3">
          <h3>WHO IS MARIJUANA FACTORY?</h3>
          <h5>History About Factory</h5>
        </div>
        <div class="col-xl-6">
          <h3>We are a Marijuana Dispensary - Family Owned & Operated Tier III Producer & Processor located Colorado.
          </h3>
          <p>From seed to sale, we take pride in our Guide to ensure a smooth experience with attention to detail and
            quality. We have established ourselves along various points in the Guide, industrial hemp, and related
            services supply chain and related services supply chain.</p>
        </div>
        <div class="col-xl-3">
          <img src="../../../assets/img/01.jpg" class="d-block w-100" alt="...">
          <h4>Carlos Lawson</h4>
          <h2>FOUNDER OF FACTORY</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Start  -->
  <div class="subscribe">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 subscribe-row">
            <h6>SUBSCRIBE NOW TO</h6>
            <h2>Our Newsletter</h2>
          </div>
          <div class="col-xl-3 subscribe-row">
            <input type="text" placeholder="YOUR FULL NAME*">
          </div>
          <div class="col-xl-3 subscribe-row">
            <input type="text" placeholder="YOUR EMAIL ADDRESS*">
          </div>
          <div class="col-xl-3 subscribe-row">
            <button class="btn text-uppercase">SubScirbe to our NewsLetter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End  -->



</main>